/* Styles for ion-fab-button */
ion-fab-button {
  --background: var(--ion-color-step-150, #ffffff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);
  --color: var(--ion-color-primary, #3880ff);
}

/* Material Design activated background for iOS */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

/* Categories styles */
$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    padding-left: 10px;
    border-left: 2px solid $value;
  }
}

/* Width for the side navigation when expanded */
.width-200 {
  width: 200px;
}

/* Show map styles */
.show-map {
  opacity: 1;
}

.col-2 {
  display: grid;
  // grid-template-columns: 1fr 3fr;
}

/* Map container styles */
#map {
  height: 50%;
  width: 100%;
}

#map-poly {
  height: 500px;
  width: 100%;
}

/* Main map container */
.map-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  width: 100%;
}

.map-container-full {
  grid-template-columns: 1fr; /* Make the map full width when expanded */
}

.polygons {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Side navigation styles */
.side-nav {
  transition: width 0.3s, opacity 0.3s;
}

.collapsed {
  display: none; /* Hide the nav when collapsed */
  opacity: 0; /* Optional for smooth transition */
}

/* Toggle button styles */
// .toggle-button {
//   background-color: #eee;
//   padding: 5px 10px;
//   border: 1px solid #ccc;
//   text-align: center;
//   margin-bottom: 10px;
//   border-radius: 5px;
// }

/* Responsive adjustments */
@media (max-width: 768px) {
  .map-container {
    grid-template-columns: 1fr; /* Stack the columns on smaller screens */
  }
  .map-container-full {
    grid-template-columns: 1fr; /* Keep full width for smaller screens */
  }
  #map-poly {
    height: 300px; /* Adjust map height for smaller screens */
  }
}
